/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 févr. 2016, 10:01:50
    Author     : mpastor
*/


.li-forge:nth-child(even) {
   background: #CCC
   
}

.li-forge:nth-child(odd) {
   background: #FFF
   
}
