<?php

/* 
 * This is the basic template of Home Page
 */

?>

<!DOCTYPE html>
<html lang="en">
  <?= $this->element("Pages/header") ?>
    <body>

    <?= $this->element("Navigation/navbarFixedTop") ?>

        <div class="container-fluid">
        </div> <!-- .container-fluid -->
    </body>
</html>
