<?php

/* 
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */

?>


<!DOCTYPE html>
<html lang="en">
  <?= $this->element("Pages/header") ?>
    <body>

    <?= $this->element("Navigation/navbarFixedTop") ?>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">                    
                <div class="col-xs-offset-1 col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1 main">
                   
                    <div class="row">

                    </div>
                </div>        
            </div>
        </div>
    </div>
    </body>
</html>
